<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="mailto:{{ site.email }}"><span>email</span></a>
        <span class="point"> · </span>
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}"><span>github</span></a>
        {% endif %}
        <span class="point"> · </span>
        <a class="newpost" href="javascript:;"><span>new</span></a>
        <span class="point"> · </span>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span>rss</span></a>
      </div>
    </div>
  </div>
</footer>